* {
    padding: 0px;
    margin: 0px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    user-select: none; 
}

ul,
li {
    list-style: none;
}

p,
li{
    font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.wrapper{
    width: 1440px;
    margin: 0 auto;
}

@media (max-width: 1367px) {
    .wrapper{
        max-width: 988px;
    }
}
@media (max-width: 700px) {
    .wrapper{
        max-width: calc(100% - 30px);
        margin: 0 auto;
    }
}